.walks-list-item {
  padding-left: 16px;
  height: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
}

.walks-list-item .ant-list-item-meta-title {
  font-size: 9px;
  color: rgba(28, 32, 37, 0.4);
}
.walks-list-item .ant-list-item-meta-description {
  line-height: unset;
  color: black;
}

.walks-list-item span {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #1C2025;
  width: 50%;
  padding-left: 16px;
}
