.walks-list-header {
  min-width: 335px;
  height: 40px;
  background: #1C2025;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.walks-list-header .walks-list-header-left-column, .walks-list-header-right-column{
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 16px;

  color: #FFFFFF;
}

.walks-list-content {
  /* 100px - header + footer */
  height: calc(100vh - 120px);
  min-height: 480px;
  overflow: auto;
}

/* width */
.walks-list-content::-webkit-scrollbar {
  /* По макету 3px */
  width: 5px;
}

/* Track */
.walks-list-content::-webkit-scrollbar-track {
  background: #1C2025; 
}
 
/* Handle */
.walks-list-content::-webkit-scrollbar-thumb {
  background: #EC174F; 
}

/* Handle on hover */
.walks-list-content::-webkit-scrollbar-thumb:hover {
  background: #ff0044; 
}
